<!-- app/views/layouts/_logged_out_header.html.erb -->
<ul class ="align-items">
<li><%= link_to 'ログイン', new_user_session_path, class: 'login' %></li>
<li><%= link_to '新規登録', new_user_registration_path, class: 'register' %></li>
</ul>